*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 15px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.boards-container {
  display: flex;
  gap: 15px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 400px;
  width: 400px;
  gap: 1px;
}

.board-cell {
  outline: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ship {
  background-color: black;
}

.ship.marked {
  background-color: red;
}

.marked {
  background-color: yellow;
}
